body,
#container {
  margin: 0px;
  width: 100%;
}

#is-it-time {
  font-size: 5em;
  margin: 2em auto;
  text-align: center;
}

#foo {
  text-align: center;
}

.debug {
  display: none;
  background-color: #eee;
  margin: 1em;
  padding: 1em;
}
